In [5]:
import pandas as pd
import numpy as np

# Generate random employee names and salaries
np.random.seed(300)

# Generate random salaries between 30,000 and 120,000
salaries = np.random.randint(30000, 120000, size=300)

# Create a DataFrame
df = pd.DataFrame({

    'Salary': salaries
})

df.head()

   Salary
0   99880
1   84729
2   85243
3   96903
4   82364

In [6]:
df.head(300)

     Salary
0     99880
1     84729
2     85243
3     96903
4     82364
..      ...
295   59525
296   97765
297   82464
298   54058
299   63669

[300 rows x 1 columns]

In [19]:
import pandas as pd
import numpy as np

# Generate random salaries between 30,000 and 120,000
np.random.seed(4653)
salaries = np.random.randint(30000, 120000, size=4653)

# Create a DataFrame
df = pd.DataFrame({
    'Salary': salaries
})

# Save the DataFrame to an Excel file
# Save the DataFrame to a CSV file
df.to_csv('C:/Users/admin/sahil28/employee_salaries.csv', index=False)

In [14]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\admin\anaconda5\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\admin\anaconda5\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.